*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*1 rem = 16 pixels, for most browsers at least 
vh = viewport height, 100vh = 100% of the viewport height, 5vh = 5% of the viewport height
viewport = visible area of the web browser*/

body{
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button{
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}